/************Buscador*****************/

.form_search {
	display: flex;
	float: right;
	background: initial;
	padding: 10px;
	border-radius: 10px; 
}

.form_search .btn_search{
	background: #1faac8;
	color: #fff;
	padding: 0 15px;
	border: 0;
	cursor: pointer;
	margin-left: 10px;
}